* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f4f2ec;
}

/* @media only screen and (max-device-width: 720px) and (orientation: portrait) {
  .parallax-1 {
    background-attachment: scroll !important;
    background-position: center center !important;
    height: 40vh;
    border-top: 20px;
    border-bottom: 20px;
  }

  .nav a{
    padding: 12px 14px !important;
    text-decoration: none;
  }

  #moben {
    padding: 0px 14px !important;
    font-size: 14px !important;
  }

  #header1 {
    padding-top: 20px !important;
    font-size: 20px !important;
  }

  #header2 {
    font-size: 15px !important;
    padding-bottom: 5px;
  }

  .button {
    padding: 8px 16px !important;
    font-size: 12px !important;
  }

  #header3 {
    font-size: 30px !important;
  }

  #text {
    width: 90% !important;
  }

  #back2 {
    background-color: #79253d;
    padding: px !important;
  }

  .img {
    width: 90% !important;
  }
} */

.nav {
  background-color: #f4f2ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;

  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0px 30px;
}

.nav p {
  margin: 0 !important;
  padding: 0 !important;
}

.nav a {
  margin: 0 !important;
  padding: 0 !important;
}

#moben {
  float: left;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #79253d;
  border: 1px solid #79253d;
  font-weight: 800;
  padding: 10px !important;
}

#header1 {
  padding-top: 10vw;
  z-index: 2;
  text-align: center;
  color: whitesmoke;
  font-size: 80px;
  letter-spacing: 0.2px;
  margin-top: 0;
}

#header2 {
  z-index: 2;
  text-align: center;
  color: whitesmoke;
  font-size: 25px;
}

#header4 {
  z-index: 2;
  text-align: center;
  color: #79253d;
  font-size: 45px;
}

#header5 {
  z-index: 2;
  text-align: center;
  color: #79253d;
  font-size: 30px;
}

.center {
  z-index: 2;
  text-align: center;
}

.nav a {
  float: right;
  color: #79253d;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
}

.nav a:hover {
  color: black;
  transition: 0.3s;
}

.nav a.active {
  background-color: #04aa6d;
  color: white;
}

.parallax-1 {
  width: 100%;
  height: 100vh;
  background-image: url(img/land2.png);
  background: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    url("img/land2.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 93%;
  background-color: black;
  border-top: 60px solid black;
  border-bottom: 60px solid black;
}

.button {
  /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.6s;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  color: rgb(197, 197, 197);
  transition: 0.3s;
}

.container {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.img {
  display: block;
  margin-top: 100px;
  width: 70%;
}

#back2 {
  height: 100%;
  background-color: #79253d;
  padding: 60px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

#header3 {
  z-index: 2;
  text-align: center;
  color: whitesmoke;
  font-size: 35px;
  margin-top: 40px;
}

#text {
  color: whitesmoke;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50vw;
}

footer p {
  color: black;
}

footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f2ec;
  text-align: center;
}

.gallery-mobile {
  display: none;
}

.swiper {
  width: 400px;
  height: 400px;
}

.swiper img {
  height: 400px !important;
  width: 400px !important;
  object-fit: contain;
}

.contact-people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-person img {
  border: 2px solid white;
  border-radius: 500px;
  -webkit-box-shadow: 2px 0px 18px -2px #eee;
  box-shadow: 2px 0px 18px -2px #eee;
  width: 200px;
  height: 200px;
}

.contact-person {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  width: 30vw;
  /* justify-content: center; */
  align-items: center;
}

.contact-person-name {
  font-size: 32px;
  font-weight: 600;
}
#contact {
  display: block;
  width: 100%;
  padding: 16px 32px;
  background-color: #79253d;
  text-align: center;
  color: whitesmoke;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.gallery-web {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.column2 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.contact-person-content p {
  font-size: 20px;
}

@media only screen and (max-device-width: 720px) and (orientation: portrait) {
  .contact-person-content p {
    font-size: 12px !important;
  }

  .contact-person-content h2 {
    font-size: 18px !important;
  }

  .contact-person-img {
    margin-right: 20px;
  }

  .contact-person-content {
    margin-left: 20px;
  }

  .contact-person-img img {
    height: 130px !important;
    width: 130px !important;
  }

  .parallax-1 {
    /* background-attachment: scroll !important; */
    /* background-position: center center !important; */
    background-image: none !important;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 20%;

    align-items: center;
    /* border-top: 20px;
    border-bottom: 20px; */
  }

  .img {
    height: 191px !important;
    width: 305px !important;
    margin-top: 15% !important;
  }
  .row {
    flex-direction: column;
  }
  #header1 {
    font-size: 54px !important;
  }

  #text {
    margin: 0 !important;
    width: 90vw !important;
  }
  .gallery-mobile {
    display: block;
  }

  .gallery-web {
    display: none !important;
  }
}
