* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f4f2ec;
}

@media only screen and (max-device-width: 720px) and (orientation: portrait) {
  .parallax-1 {
    background-attachment: scroll !important;
    background-position: center center !important;
  }

  .topnav a {
    padding: 12px 14px !important;
    text-decoration: none;
    font-size: 14px !important;
  }

  #moben {
    padding: 0px 14px !important;
    font-size: 14px !important;
  }

  #header1 {
    padding-top: 20px !important;
    font-size: 20px !important;
  }

  #header2 {
    font-size: 15px !important;
    padding-bottom: 5px;
  }

  .button {
    padding: 8px 16px !important;
    font-size: 12px !important;
  }

  #header3 {
    font-size: 30px !important;
  }

  #text {
    width: 90% !important;
  }

  #back2 {
    background-color: #79253d;
    padding: px !important;
  }

  .img {
    width: 90% !important;
  }
}

.topnav {
  padding-bottom: 0;
  overflow: hidden;
  background-color: #f4f2ec;
}

#moben {
  float: left;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 20px;
}

#header1 {
  padding-top: 10vw;
  z-index: 2;
  text-align: center;
  color: whitesmoke;
  font-size: 100px;
  margin-top: 0;
}

#header2 {
  z-index: 2;
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
}

#header4 {
  z-index: 2;
  text-align: center;
  color: #79253d;
  font-size: 50px;
}

#header5 {
  z-index: 2;
  text-align: center;
  color: #79253d;
  font-size: 30px;
}

.center {
  z-index: 2;
  text-align: center;
}

.topnav a {
  float: right;
  color: #2e0b0b;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: rgb(143, 51, 51);
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.parallax-1 {
  width: 100%;
  height: 42vw;
  background-image: url(img/land2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
  background-color: #f4f2ec;
}

.button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.6s;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
  background-color: rgb(53, 206, 61);
  color: rgb(255, 255, 255);
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #047007;
  color: rgb(255, 255, 255);
}

.container {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#back2 {
  background-color: #79253d;
  padding: 15px;
}

#header3 {
  z-index: 2;
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
}

#text {
  color: whitesmoke;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50vw;
}

#foot {
  background-color: rgb(75, 75, 75);
  text-align: center;
}

#contact {
  padding: 16px 32px;
  background-color: #79253d;
  text-align: center;
  color: whitesmoke;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}